/* Kontakt */

.contact-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    gap: 0.5rem;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.email-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 24px;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease;
}

.email-btn:hover{
    background-color: #f5f5dc;
}

.email-btn.hide {
    opacity: 0;
}

.email {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 1s ease;
}

.email.show {
    opacity: 1;
    pointer-events: auto;
}