/* Projekty */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin: 2rem 2rem;
}

.project-card {
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 250px;
    color: var(--accent-color);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.project-card p {
    margin: 0;
    padding-top: 0.5rem;
}

.project-preview {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.project-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.7);
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
    pointer-events: none;
}

.project-preview:hover img {
    transform: scale(1.1);
}

.project-preview:hover .project-title {
    opacity: 0;
    backdrop-filter: blur(2px);
}

.project-btn {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    transition: 0.3s;
    border: 1px solid var(--accent-color);
}

.project-btn:hover {
    background: var(--accent-color);
    color: var(--primary-color);
}