/* Projekty */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin: 2rem 2rem;
}

.project-card {
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.project-card.show {
    opacity: 1;
    transform: translateY(0);
}
.project-card:hover {
    transform: scale(1.05);
}

.project-btn {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    transition: 0.3s;
    border: 1px solid var(--accent-color);
}
.project-btn:hover { 
    background: var(--accent-color); 
    color: var(--primary-color); 
}