/* Sekcje */

.welcome {
    text-align: center;
    padding: 4rem 2rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.welcome h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.portfolio {
    text-align: center;
    padding: 4rem 2rem;
    background-color: var(--bg-color);
}

.services {
    text-align: center;
    padding: 4rem 2rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.services h1 {
    margin-bottom: 1rem;
}

.contact {
    text-align: center;
    padding: 2rem 2rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

footer {
    text-align: center;
    padding: 1rem 2rem;
    color: var(--primary-color);
    background-color: var(--accent-color);
}

footer p
{
    font-size: 0.85rem;
}