/* Sekcje */

.welcome {
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.welcome h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.welcome p {
    font-size: 1rem;
}

.portfolio {
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--bg-color);
}

.contact {
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

footer {
    padding: 1rem 2rem;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--primary-color);
}