:root {
    --primary-color: #f5f5dc; /* beż */
    --secondary-color: #808080; /* szary */
    --accent-color: #333333;
    --text-color: #222222;
    --bg-color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

html { 
    scroll-behavior: smooth; 
}

body {
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

header {
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
}

/* Sekcje */
.welcome {
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.welcome h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.welcome p { 
    font-size: 1rem; 
}

.portfolio {
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--bg-color);
}

.contact {
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

footer {
    padding: 1rem 2rem;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: .6s;
}
.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
