<div class="project-card">
    <a
            class="project-preview-link"
            href="https://play.google.com/store/apps/details?id=com.pawelsyrowygames.habittracker&hl=pl"
            target="_blank">
        <div class="project-preview">
            <div class="preview-bg"></div>
            <img src="/img/habitator.jpg" alt="Habitator preview">
            <span class="project-title">Habitator: Daily Tracker</span>
        </div>
    </a>
    <p>Organizator twoich codziennych nawyków</p>
</div>