<!-- Nawigacja -->

<nav class="navbar">
    <div class="logo"><a href="#welcome">SyrTech</a></div>
    <button
            class="menu-toggle"
            aria-expanded="false"
            aria-controls="nav-links"
            aria-label="Menu">☰</button>
    <ul class="nav-links" id="nav-links">
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Kontakt</a></li>
        <div style="border-left:1px solid #ccc; height:auto;"></div>
        <li><a href="https://play.google.com/store/apps/developer?id=SyrTech&hl=pl" target="_blank">Google Play</a></li>
        <li><a href="https://github.com/PawSyrTech" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/pawe%C5%82-syrowy-718b01205/" target="_blank">LinkedIn</a></li>
        <li><a href="https://www.youtube.com/@PawelSyrowyGames" target="_blank">YouTube</a></li>
    </ul>
</nav>
