<!-- Nawigacja -->
<nav class="navbar">
    <div class="logo">SyrTech</div>
    <button class="menu-toggle" aria-expanded="false" aria-label="Menu">☰</button>
    <ul class="nav-links">
        <li><a href="#welcome">Start</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Kontakt</a></li>
        <li><a href="https://github.com/PawSyrTech" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/pawe%C5%82-syrowy-718b01205/" target="_blank">LinkedIn</a></li>
        <li><a href="https://www.youtube.com/@PawelSyrowyGames" target="_blank">YouTube</a></li>
    </ul>
</nav>
