<!-- Górna część stopki -->
<div class="footer-top">
  <div class="footer-logo">
    <img src="images/logos/logo-MPH.png" alt="Morski Park Handlowy" />
  </div>

  <div class="footer-info">
    <div class="footer-col">
      <h4>ADRES:</h4>
      <p>
        Morski Park Handlowy<br />
        ul. Przywidzka 6,10A<br />
        80-174 Gdańsk
      </p>
    </div>

    <div class="footer-col">
      <h4>ZARZĄDCA NIERUCHOMOŚCI:</h4>
      <p>
        Savills sp. z o.o.<br />
        Al. Jana Pawła II 22<br />
        00-133 Warszawa
      </p>
    </div>

    <div class="footer-col">
      <h4>GODZINY OTWARCIA:</h4>
      <p>
        Pon – Sob: 9:00 – 21:00<br />
        Ndz: 9:00 – 20:00
      </p>
    </div>

    <div class="footer-col">
      <h4>TELEFON:</h4>
      <p>(58) 322 36 70</p>
    </div>
  </div>
</div>

<!-- Dolna część stopki -->
<div class="footer-bottom">
  <ul class="footer-menu">
    <li><a href="sklepy.html">Sklepy</a></li>
    <li><a href="index.html">Aktualności</a></li>
    <li><a href="promocje.html">Promocje</a></li>
    <li><a href="galeria.html">Galeria</a></li>
    <li><a href="informacje.html">Informacje</a></li>
    <li><a href="index.html">RODO</a></li>
    <li><a href="kontakt.html">Kontakt</a></li>
  </ul>

  <p class="copyright">© 2026 SyrTech – Paweł Syrowy</p>
</div>
