<!-- Górna część stopki -->
<div class="footer-top">
  <div class="footer-logo">
    <img src="../images/logos/logo-MPH.png" alt="Morski Park Handlowy" />
  </div>

  <div class="footer-info">
    <div class="footer-col">
      <h4>ADDRESS:</h4>
      <p>
        Morski Park Handlowy<br />
        ul. Przywidzka 6,10A<br />
        80-174 Gdańsk
      </p>
    </div>

    <div class="footer-col">
      <h4>PROPERTY MANAGER:</h4>
      <p>
        Savills sp. z o.o.<br />
        Al. Jana Pawła II 22<br />
        00-133 Warszawa
      </p>
    </div>

    <div class="footer-col">
      <h4>OPENING HOURS:</h4>
      <p>
        Mon – Sat: 9:00 – 21:00<br />
        Sun: 9:00 – 20:00
      </p>
    </div>

    <div class="footer-col">
      <h4>PHONE:</h4>
      <p>(58) 322 36 70</p>
    </div>
  </div>
</div>

<!-- Dolna część stopki -->
<div class="footer-bottom">
  <ul class="footer-menu">
    <li><a href="shops.html">Shops</a></li>
    <li><a href="index.html">News</a></li>
    <li><a href="promotions.html">Promotions</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="informations.html">Informations</a></li>
    <li><a href="index.html">GDPR</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>

  <p class="copyright">© 2026 SyrTech – Paweł Syrowy</p>
</div>
