/* Nawigacja */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li {
    transition: 0.3s;
}

.nav-links li a {
    padding: 0.5rem;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    background: none;
}

.nav-links .divider {
    margin: 0 0.5rem;
    width: 0.5px;
    height: 24px;
    opacity: 0.5;
    background-color: var(--secondary-color);
}

/* Responsywność */

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0;
        width: 200px;
        max-height: 0;
        overflow: hidden;
        background-color: var(--primary-color);
        transition: max-height 0.3s ease;
    }
    
    .nav-links.active {
        max-height: 500px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links .divider {
        margin: 0.5rem auto;
        width: 80%;
        height: 0.5px;
        opacity: 0.5;
        background-color: var(--secondary-color);
    }
}