<div class="project-card">
    <a 
            class="project-preview-link" 
            href="https://play.google.com/store/apps/details?id=com.PawelSyrowyGames.WaterSmile&hl=pl" 
            target="_blank">
        <div class="project-preview">
            <div class="preview-bg"></div>
            <img src="/img/happydroplet.jpg" alt="Happy Droplet preview">
            <span class="project-title">Happy Droplet: Flora Journey</span>
        </div>
    </a>
    <p>Zręcznościowa gra 2D</p>
</div>